<?xml version="1.0" encoding="UTF-8"?>
<robot name="earth_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="M_PI" value="3.1415926535897931" />

	<xacro:property name="fix_base" value="false" />


	<xacro:include filename="base/base.urdf.xacro" />
	<xacro:include filename="base/battery_block.urdf.xacro" />
	<xacro:include filename="wheels/wheels.urdf.xacro" />


	<xacro:include filename="earth_rover.gazebo.xacro" />

	<material name="yellow">
		<color rgba=".8 .8 0 1" />
	</material>

	<material name="black">
		<color rgba="0 0 0 1" />
	</material>

	<material name="green">
		<color rgba="0 0.8 0 1" />
	</material>

	<material name="silver">
		<color rgba=".8 .8 .8 1" />
	</material>

	<!-- link of convenience, makes things more symmetrical -->

	<link name="base_link"/>

	<!-- gazebo doesn't recognise links without mass, but KDL doesn't
	     like the base link to have inertia, so we have this silly
	     situation of a dummy inertia link for a dummy link... -->
	<link name="base_link_inertia">
		<inertial>
			<!-- mass needed for gazebo to recognise link -->
			<mass value="0.001" />
			<inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0" />
		</inertial>
	</link>

	<joint name="base_link_inertia_joint" type="fixed">
		<parent link="base_link" />
		<child link="base_link_inertia" />
	</joint>

	<base_block name="front_base" parent="base_link" reflect="1" colour="yellow" />
	<base_block name="back_base" parent="base_link" reflect="-1" colour="yellow" />

	<xacro:wheel name="front_left" parent="front_base_link" reflect="1" reflect_y="1" />
	<xacro:wheel name="front_right" parent="front_base_link" reflect="-1" reflect_y="1" />
	<xacro:wheel name="back_left" parent="back_base_link" reflect="1" reflect_y="-1" />
	<xacro:wheel name="back_right" parent="back_base_link" reflect="-1" reflect_y="-1" />

</robot>
